﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QuizVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h1 style="text-align:center">Odpowiedz na pytania</h1>
    <div class="container p-3 mb-2 bg-primary" style="border-radius:5px; color:black">
        @using (Html.BeginForm("Index", "Quiz", "post")) 
        { 
            @foreach (var question in Model.questions)
            {
        <div class="p-3 my-3 border bg-light" style="border-radius:5px">
            @Html.Label(question.Value.Question)
            <div class="form-group">
                @Html.RadioButtonFor(m => m.questions[question.Value.Id].UserAnswer, 0)
                @Html.Label(question.Value.A)
            </div>
            <div class="form-group">
                @Html.RadioButtonFor(m => m.questions[question.Value.Id].UserAnswer, 1)
                @Html.Label(question.Value.B)
            </div>
            <div class="form-group">
                @Html.RadioButtonFor(m => m.questions[question.Value.Id].UserAnswer, 2)
                @Html.Label(question.Value.C)
            </div>
            <div class="form-group">
                @Html.RadioButtonFor(m => m.questions[question.Value.Id].UserAnswer, 3)
                @Html.Label(question.Value.D)
            </div>

        </div>
            }
            <div class="container p-3 my-3" style="align-items:center; place-items:normal">
                <input type="submit" class="btn-primary btn-outline-success" style="text-align:right;border:medium; padding:3px; border-radius:5px" value="Wyślij">
            </div>
         } 
    </div>
</body>