﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h1>Quiz</h1>

    <h4>Opis</h4>
    <p>
        Aplikacja Quiz jest to aplikacja w technologi .Net Core 3.1 MVC. Aplikacja jest stroną internetową realizowaną w ramach projektu na studia z zajęć o technologiach chmurowych. Wykorzystuje ona bazę danych przechowywaną w chmurze Microsofr Azure, a platformą wdrożeniową jest Docker 20.10.8 postawiony na systemie Ubuntu 20.04.
    </p>
    <h4>CI</h4>
    <p>
        Repozytorium posiada zaimplementowany moduł gitlab CI w którym przy stworzeniu merge requesta włączany jest proces budowania aplikacji z wdrażanymi zmianami w celu uniknięcia błędów na głównej gałęzi projektu.
    </p>
    <h4>Wdrażanie</h4>
    <p>
        Aby zbudować i wdrożyć aplikację konieczny jest zainsalowany dokcer engin i docker cli. Więcej o instalacji dockera pod <a href="https://docs.docker.com/engine/">linkiem</a>. Następnie w katalogu <code>utils</code> znajduje sie skrypt <a href="https://gitlab.com/LukM88/quiz/-/blob/main/utils/pull_and_build.sh">pull_and_build.sh</a> należy go pobrać i włączyć w folderze gdzie ma być zapisana aplikacja. Skrypt pobierze wtedy całe repozytorium, zbuduje, oraz włączy aplikacje pod adresem <code>quiz.pl</code> na localhoscie. Usunie on także starsze wersje aplikacji oraz kontener <code>jwilder/nginx-proxy</code>.
    </p>
    <h5>Budowanie</h5>
    <p>
        W katalogu projektu znajduje się plik <a href="https://gitlab.com/LukM88/quiz/-/blob/main/Quiz/Dockerfile">Dockerfile</a> w którym jest zestaw instrukcji używanych do zbudowania obrazu aplikacji. Celem zbudowania obrazu należy użyć komendy <code>docker build Quiz</code> włączonej w katalogu z folderem Quiz. Aby sprawdzić czy obraz został utworzony należy użyć polecenia <code>docker image ls</code>
    </p>
    <h5> Włączenie aplikacji</h5>
    <p>
        W momencie gdy mamy już zbudowany obraz aplikacji należy użyć polecenia w celu stworzenia kontenera odpowiedzialnego za proxy:
        <code>
            <pre>docker run -d --name jwilder -p 80:80 -v /var/run/docker.sock:/tmp/docker.sock:ro jwilder/nginx-proxy</pre>
        </code>
        Następnie poleceniem poniżej tworzymy kontener z aplikacją: 
        <code>
            <pre>docker run -d --name quiz -e VIRTUAL_HOST=quiz.pl <nazwa /numer id obrazu></pre>
        </code>
        Zostanie wtedy utworzony kontener o nazwie quiz wystawiony pod adresem <code>quiz.pl</code>. Domyślnie ip dockera to 172.17.0.1, a kolejne kontenery wystawione w sieci są wystawiane na kolejnych numerach ip. Celem sprawdzenia adresu ip kontenera używamy polecenia <code>docker network inspect bridge</code>. aby dostac się do aplikacji na za pomocą adresu należy dodać taki wpis do pliku <code>hosts</code> w systemie użytkownika.
        <code>
            <pre>0.0.0.0    quiz.pl</pre>
        </code>
        W przypadku innej maszyny w sieci lokalnej która ma łączyć się z aplikacją należy dodać ip serwera np.
        <code>
            <pre>10.10.10.3     quiz.pl</pre>
        </code>
    </p>
    <h5> Sprawdzenie działania </h5>
    <p>
        Aby sprawdzić działający kontener należy w przeglądarce internetowaej wpisać adres ip contenera np. <code>172.17.0.2</code>.
    </p>
    <h5>Wyłączanie i usuwanie</h5>
    <p>
        Aby sprawdzić działający kontener należy w przeglądarce internetowaej wpisać adres ip contenera np. <code>172.17.0.2</code> lub w konsoli systemowej wpisać <code>docker ps</code> powinniśmy wtedy zobaczyć 2 kontenery jeden o nazwie quiz a drugi o nazwie jwilder.
    </p>
</body>