﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ResultsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container" style="text-align:center">
        <h1>!!!GRATULUJĘ!!!</h1>
        <h1>Twój uzyskany wynik to:</h1>
        <h1>@Model.score/10</h1>
    </div>
</body>
